.create form {
    max-width: 400px;
    margin: 0 auto;
}
.create input,
.create textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
}
.create label {
    display: block;
    margin-top: 24px;
}
.btn {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    background: #f01b29;
    color: #fff;
    padding: 6px;
    border: 0;
    border-radius: 4px;
    font-size: 0.8em;
    cursor: pointer;
}
.error {
    color: #f01b29;
    font-size: 0.8em;
    margin-top: 4px;
}